*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
   
}


body{
    font-family:  var(--font-prinicpal);
    background-color: var(--cor-background-principal);  
    
}

.content{
    overflow: hidden;
}


main{
    height: auto;
    width: 100%;
    
}

li{
    list-style-type: none;
}


a{
    text-decoration: none;
    opacity: 0.9;
    color: var(--cor-font-principal);
    transition: var(--tempo-transicao);
}

a:hover {
    opacity: 1;
    color: var(--cor-lilas-700);
}

a:active {
    color: var(--cor-lilas-700);
    opacity: 0.7;
}

button{
    opacity: 0.9;
    transition: var(--tempo-transicao);
}


button:hover{
    transform:var(--tamanho-scale) ;
    opacity: 1;
}

button:active{
    opacity: 0.8;
}
